body {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  width: 100%;
}

header {
  box-sizing: border-box;
  width: 100%;
  background-color: #fff;
  display: flex;
  align-items: end;
  justify-content: space-between;
  padding: 0 48px;
}

.header-left {
  /* border: 1px dotted red; */
  box-sizing: border-box;
  padding: 16px 0;
}
/* .header-right {
  border: 1px dotted blue;
} */

.nav-container {
  box-sizing: border-box;
  display: flex;
  align-items: center;
  gap: 24px;
}
.nav-item {
  box-sizing: border-box;
  padding: 16px 0;
  cursor: default;
  border-bottom: 6px solid #fff;
}
.nav-item:hover {
  border-bottom: 6px solid #0f3460;
}
.item-with-icon {
  display: flex;
  align-items: center;
  position: relative;
}
.item-text {
  color: #595959;
}
.item-text:hover {
  color: #0f3460;
}

.dropdown {
  z-index: 10;
  box-sizing: border-box;
  position: absolute;
  top: 62px;
  left: -16px;
  width: 240px;
  display: none;
}
.dropdown-item {
  height: 60px;
  background-color: #262626;
  border-bottom: 1px dashed #636363;
  display: flex;
  align-items: center;
  padding-left: 16px;
  cursor: pointer;
}
.dropdown-item:hover {
  background-color: #3f3f3f;
}
.dropdown-item:last-of-type {
  border-bottom: unset;
}
.dropdown-text {
  color: #fff;
  font-size: 16px;
  font-weight: 500;
}
.show-dropdown {
  display: unset !important;
}

.main {
  box-sizing: border-box;
  width: 100%;
  height: 900px;
  background-image: url("../assets/images/yw-bg.webp");
  background-repeat: no-repeat;
  background-position: right top;
  background-size: cover;
  position: relative;
}

.main-text {
  display: flex;
  flex-direction: column;
  position: absolute;
  top: 240px;
  left: 80px;
}
.main-text h1 {
  font-size: 60px;
  font-weight: 700;
  color: #fff;
  margin: 16px 0;
}
.main-text p {
  font-size: 16px;
  color: #fff;
  margin: 0;
}

.founder-main {
  box-sizing: border-box;
  width: 100%;
}
.main-header {
  box-sizing: border-box;
  width: 100%;
  height: 190px;
  background-image: url("../assets/images/yw-founder-bg.webp");
  background-repeat: no-repeat;
  background-position: center top;
  background-size: cover;
  position: relative;
}
.main-title {
  font-size: 28px;
  font-weight: 600;
  color: #fff;
  position: absolute;
  top: 80px;
  left: 80px;
}
